/****************************
 * General
 ***************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Arial', sans-serif;
	color: #454545;	
  background-color: #fefefe;	
  font-size: 12px;
}

a {
  color: #454545;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#credits {
  margin: 10px 0 0 0;
  display: none;
}

#credits h3 {
  margin: 0 0 5px 0;
}

#credits ul {
  margin: 0 0 0 16px;
}

/****************************
 * Wrapper/Container
 ***************************/

header {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #ccc;
}

#wrapper {
	padding: 60px;
}

section {
  margin: 30px 0 30px 0;
  padding: 30px 0 30px 0;
  border-top: 1px solid #ccc;
}

section:first-of-type {
  border-top: none;
  padding-top: 0px;
}

section h3 {
  margin: 0 0 10px 0;
}

.left {
  float: left;
  margin: 0 60px 30px 0;
}

#step2 {
  display: none;
}

/****************************
 * Content
 ***************************/

button {
	display: inline-block;
	padding: 5px;
	background-color: #ccc;
	margin: 10px 5px 0 0;
	border: none;
}

button:hover {
	cursor: pointer;
	background-color: #ddd;
}

button:focus, button:active {
  outline: none;
}

table {
  padding: 0px;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

table td.active {
  background-color: #ddd;
}

#results1,
#results2 {
  margin: 10px 0 0 0;
  display: none;
  float: left;
}

#results1 p,
#results2 h4 {
  margin: 0 0 10px 0;
}

/****************************
 * Responsive
 ***************************/

@media only screen and (max-width: 1440px) {

  section {
    float: none;
    min-height: inherit;
    border-left: none;
    border-top: 1px solid #ccc;
    padding: 30px 0 30px 0;
  }
  
  section:first-of-type {
    border-top: none;
    padding-top: 0px;
  }
  
}