<!doctype html>
<html>
<head>  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Semantic Graphics</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">    
  <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lunar.min.js') }}"></script>      
  <script src="{{ url_for('static', filename='js/snap.svg-min.js') }}"></script>        
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>

  <a href="https://github.com/gopeter/semantic-graphics"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <div id="wrapper" class="clearfix">

    <header>
      <h1>Semantic Graphics</h1>
      <h2>Read data from semantic SVG files with SPARQL</h2>
      <button id="credits-toggle">Image credits</button>
      <div id="credits">
        <h3><a href="http://semantic-graphics.herokuapp.com/static/images/Truck.svg">Truck.svg</a></h3>
        <ul>
          <li><strong>Original image:</strong> <a href="http://commons.wikimedia.org/wiki/File%3AConventional_18-wheeler_truck_diagram.svg">http://commons.wikimedia.org/wiki/File%3AConventional_18-wheeler_truck_diagram.svg</a></li>
          <li><strong>Attribution:</strong> By Conventional_18-wheeler_truck_diagram.PNG: H Padleckas derivative work: Ju gatsu mikka (^o^) appelez moi Ju (^o^) (Conventional_18-wheeler_truck_diagram.PNG) <a href="http://creativecommons.org/licenses/by-sa/3.0">CC-BY-SA-3.0</a>, via Wikimedia Commons
      </div>
    </header>

    <section id="step1">
      <h3>Step 1: Parse first SVG file</h3>
      <strong>The tires of the trailer contain more information. Click it!</strong>
      <div id="graphic1"></div>
      <button class="parse" data-i="1">Parse SVG</button>
      <div id="results1">
        <h4>Results</h4>
        <p>Move your mouse over subjects, objects (&darr;) or graphic elements (&uarr;).</p>
        <table cellpadding="0" cellspacing="0"></table>
      </div>
    </section>
    
    <section id="step2">
      <h3>Step 2: Parse second SVG file</h3>
      <div id="graphic2"></div>
      <button class="parse" data-i="2">Parse SVG (could take a while!)</button>
      <div id="results2">
        <h4>Results</h4>        
        <table cellpadding="0" cellspacing="0"></table>        
      </div>
      
    </section>
    
  </div>
</body>

</html>